* {
    font-family: 'Raleway', sans-serif;

  }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    h2, h3, h4{
        font-size: 25px;
        
    }
    .senhas {
        font-size: 25px;
        font-weight: bold;
        color: tomato;
    }
    
    .botao {
        background:tomato ;
        color: white;
        border: none;
        box-shadow: 2px 2px 1px 1px black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .botao:active {
        box-shadow: none;
    }